.about-page {
  center-page();

  .table-of-contents {
    ul {
      padding: 0;
      margin: 0;

      ol {
        padding: 0;
      }
    }
  }

  .about-content {

    .section {
      margin-top: 20px;

      h3 {
        text-transform:lowercase;
      }

      .aside {
        padding-left: 3em;
        color : $grey;
        font-size: 0.8em;
        font-style:italic;
      }

      ul.tags {
        list-style-type: none;
        padding: 0;

        li {
          display: inline-block;
          float: left;
          padding: 3px;
          margin-right: 5px;
          margin-bottom: 5px;
          background-color: $light-grey;
        }
      }
    }


  }
}