.about-page {
  center-page();

  .table-of-contents {
    ul {
      padding: 0;
      margin: 0;

      ol {
        padding: 0;
      }
    }
  }

  .about-content {

    .section {

      .aside {
        padding-left: 3em;
        color : $grey;
        font-size: 0.8em;
        font-style:italic;
      }
    }

  }
}