.adjectives-page {

  center-page()

  .blurb:nth-child(1) {
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;
    padding-right: 20px;
  }

  .blurb:nth-child(2) {
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;
    padding-left: 20px;
  }

  .canvas {
    width: 100%;
  }

  .node, .tropeNode {
    cursor: pointer;
  }

  .node-text {
    font-family: $adjective-font;
    font-weight: 400;
    font-size: 19px;
    fill: $silver-blue-dark;
    font-variant:small-caps;

    text-rendering: optimizeLegibility;

    &.count {
      font-size: 14px;
      fill: white;
    }
  }

  .node.active {

    .node-text {
      fill: $highlight-col;
      text-decoration:underline;
      font-weight: 800;

      &.count {
        fill: $highlight-col;
        text-decoration: none;
      }
    }

    .node-rect {
      fill: $highlight-col;
      stroke: $highlight-col;
    }
  }

  .node-rect {
    stroke: $silver-blue;
    fill: none;
  }

  .node-target, .node-source {
    font-weight: 600;

    .node-text.label {
      fill: $highlight-col;
    }
  }


  .link {
    stroke: $silver-blue;
    stroke-width: 1px;
    stroke-opacity: 0.25;
    fill: none;
    pointer-events: none;
  }

  .link-source {
    stroke-opacity: 0.75;
    stroke-width: 3px;
    stroke: $highlight-col;
    stroke: $silver-blue-dark;
  }

  .link-target {
    stroke-opacity: 0.75;
    stroke-width: 3px;
    stroke: $highlight-col;
    stroke: $silver-blue-dark;
  }

  // Trope network
  .trope-node-label {
    font-family: $trope-font;
    font-weight: 400;
    // font-style: italic;
    font-size: 12px;
    fill: $silver-blue-dark;
    text-transform: capitalize;
    // font-variant: small-caps;

  }

  .trope-node-bg {
    stroke: $silver-blue-dark;
    stroke-width: 0.5;

    &.male {
      fill: $male-col-50;
    }

    &.female {
      fill: $female-col-50;
    }
  }

  .tropeNode.active {
    .trope-node-bg {
      fill: $highlight-col;
      stroke: none;
    }

    .trope-node-label {
      fill: white;
    }
  }

  // Trope info display

  #details-container {
    position: absolute;
    background-color: rgba(255,255,255, 0.85)

    trope-details();
    trope-tile(100, 100);

    .details {
      padding:10px;
      font-size:12px;
      width: 65%;
      display: inline-block;
    }

    .trope-tile {
      padding:10px;
      display: inline-block;
      float:left;
      .name {
        font-size:75%;
        left: 12%
      }
    }
  }

}
