
.film-page {
.film-tropes-list-container {
  .vis {
    font-size: 12px;
    .trope-list-name {
      fill: #333;
    }
    .trope-list-name, .underbox {
      cursor: pointer;
    }
    .gender {
      text.highlight {
        fill: #fff;
        }
    }

    .underbox.gender-f {
      fill: $female-col-50;
      cursor: pointer;
    }
    .underbox.gender-m {
      fill: $male-col-50;
      cursor: pointer;
    }

    .underbox.highlight {
      fill: $highlight-col;
      cursor: pointer;
    }
    .beam.gender-f {
      fill: $female-col-25;
    }
    .beam.gender-m {
      fill: $male-col-25;
    }
    .gender-f {
      text {
        fill: #000;
        text-anchor: end;
        }
    }
    .gender-m {
      text {
        fill: #000;
        text-anchor: start;
      }
    }
    .gender text.highlight {
      fill: #fff;
    }
    .middle-panel {
      text {
        font-size: 14px;
    }
    .background.gender-m {
      fill: $male-col-50;
    }
    .background.gender-f {
      fill: $female-col-50;
    }
  }
  }

  }
}
