.film-tile {
  min-width: 160px
  height: 160px
  display: inline-block;
  position: relative;

  .image {

    div {
      background-position: 50% 0%;
      background-size: cover;

      height: 250px;
      position: relative;
      transition: ease 750ms background-position;
      width: 100%;
    }

    div:hover {
      background-position: 50% 100%;
    }
  }
}

