
.film-page {
.film-tropes-list-container {
  .vis {
    .trope-name {
      cursor: pointer;
    }
    .gender {
      text.highlight {
        fill: #fff;
      }
    }
    .underbox.gender-f {
      fill: $female-col;
    }
    .underbox.gender-m {
      fill: $male-col;
    }
    .beam.gender-f {
      fill: $female-col-25;
    }
    .beam.gender-m {
      fill: $male-col-25;
    }
    .gender-f {
      text {
        fill: $female-col-50;
        text-anchor: end;
        }
      rect.highlight {
        background-color: $female-col;
      }
    }
    .gender-m {
      text {
        fill: $male-col-50;
        text-anchor: start;
      }
    }
    .middle-panel {
      text {
        font-size: 14px;
      }
      .background.gender-m {
        fill: $male-col-50;
      }
      .background.gender-f {
        fill: $female-col-50;
      }
    }
  }
}
}
