film-tile-all(){

  .film-tile, .text-tile  {
    min-width: 160px;
    display: inline-block;
    float: left;
    position: relative;

    .image {

      div {
        background-position: 50% 0%;
        background-size: cover;

        height: 250px;
        position: relative;
        transition: ease 750ms background-position;
        width: 100%;
      }
      .box {
        background: $grey;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect width='10' height='10' fill='#9e9e9e' /><rect x='10' y='10' width='1' height='1' fill='#EEEEEE' /></svg>");
        background-repeat: repeat;
      }
      .title {
        font-variant: small-caps;
        text-transform: lowercase;
        text-align: left;
        font-weight: 200;
        color: white;
        font-size: 1.7em;
        line-height: 1.0em;
        position: absolute;
        bottom: 10px;
        left: 10px;
        max-width: 140px;

        background-color:$grey;
      }

    }
  }

  .text-tile {

    a {
      cursor: pointer;
    }

    p {
      margin: 0;
      padding: 0px !important;

      font-size: 16px;
      font-weight: 300;
      padding-right: 15px;
    }
  }

  .text-tile.genres {
    max-width: 160px;
    }

}


// Trope List
film-tile(){
  .film-tile {
    padding-right: 10px;
    padding-bottom: 10px;
    .image {
      cursor:pointer;
    }
  }
}

films-tile(){
  .text-tile {
    a {
      cursor: pointer;
      }
    padding-right: 28px;
    padding-bottom: 18px;
    height: 250px;
    p {
      padding-top: 30%;
    }
  }

  .film-tile {
    margin-right: 25px;
    margin-bottom: 10px;
    padding: 2px;

    .image {
      cursor:pointer;
    }

    border-bottom: 4px solid white
    &:hover{
      border-bottom: 4px solid $highlight-col
    }
  }
}

film-tile-mobile() {
  .film-tile {
    margin: 0 5px 10px 0;
    padding: 0 0 0 0;
  }
  .text-tile {
    min-width: 100%;
    max-width: 100%;
    margin: 0 0 10px 0;
    padding: 4px 0 0 0;
    p {
      padding-left: 5px;
      padding-top: 10px;
      font-size: 150%;
    }
    height: 100%;
  }
}

