// Films list page

.films-page {
  center-page()

  .film-tile {
    margin-right: 28px;
    margin-bottom: 10px;
    padding: 2px;

    .image {
      cursor:pointer;
    }

    border-bottom: 4px solid white
    &:hover{
      border-bottom: 4px solid $highlight-col
    }
  }
}


// Individual Film Page

.film-page {

  center-page()

  .film-tile-container {
    width: 160px;
    float: left;
  }

  .film-detail-container {
    margin-left: 200px
    padding-right: 40px;
    .details {

      .description {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow-y:hidden;

         margin: 0 auto;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        text-overflow: -o-ellipsis-lastline; /* Opera just does this, I guess? */
      }

      .more {
        margin-top: 15px;
        float:right;
      }
    }
  }
}
