.gender-page {

  .blurb:nth-child(1) {
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;
    padding-right: 20px;
  }

  .blurb:nth-child(2) {
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;
    padding-left: 20px;
  }

  center-page()

  .canvas {
    width: 100%;
  }

  line.female-line-top, line.female-line-bottom {
    stroke-width: 4px;
    stroke: $female-col;
  }

  line.male-line-top, line.male-line-bottom {
    stroke-width: 4px;
    stroke: $male-col;
  }

  .female-section-label, .male-section-label {
    font-family: $adjective-font;
    font-weight: 200;
    font-style: italic;
    font-size: 28px;
  }

  .adjective {
    cursor: pointer;
  }

  .node-text {
    font-family: $adjective-font;
    font-weight: 400;
    fill: $silver-blue-dark;
    font-variant:small-caps;
  }

  .adjective.active {

    .node-text {
      fill: white;
      fill: black;
      font-weight: 800;
      text-transform: uppercase;
    }

    .node-bg {
      fill:$highlight-col
      opacity:0.85;
    }
  }

  .node-bg {

    &.male {
      fill: $male-col-75;
    }

    &.female {
      fill: $female-col-75;
    }
  }

  #details-container {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95)
    font-size: 14px;

    max-height: 250px;
    overflow-x:scroll;
    overflow-y:none;
    border-bottom: 2px solid $silver-blue-dark;

    .gender-split-bar {
      padding: 0;

      .gender {
        height: 3px;
      }
    }

    .blurb {
      padding-left: 10px;
    }

    .lists {
      font-family: $trope-font;
      display: inline-block;
      width: 100%;
      font-size: 12px;

      ul {
        display: inline-block;
        vertical-align: top;
        list-style-type: none;
        padding-left: 10px;

        li {
          margin-bottom:10px;
        }

        a {
          padding:2px 6px 3px 6px;
          text-decoration: none;
          color: $dark-grey;
          // color: white;
        }

        a:hover {
          background-color: $highlight-col !important;
          color: white;
        }

        &.female {
          a {
            background-color: $female-col-50;

          }
        }

        &.male {
          a {
            background-color: $male-col-50;
          }
        }
      }

    }
  }


}