.gender-page {

  .canvas {
    width: 100%;
  }

  line.female-line-top, line.female-line-bottom {
    stroke-width: 4px;
    stroke: $female-col;
  }

  line.male-line-top, line.male-line-bottom {
    stroke-width: 4px;
    stroke: $male-col;
  }

  .female-section-label, .male-section-label {
    font-family: $adjective-font;
    font-weight: 200;
    font-style: italic;
    font-size: 28px;
  }

  .adjective {
    cursor: pointer;
  }

  .node-text {
    font-family: $adjective-font;
    font-weight: 400;
    fill: $silver-blue-dark;
    // fill: black;
    // font-variant:small-caps;
    // text-transform: uppercase;
  }

  .node.active {

    .node-text {
      fill: $highlight-col;
      text-decoration:underline;
      font-weight: 800;

      &.count {
        fill: $highlight-col;
        text-decoration: none;
      }
    }

    .node-rect {
      fill: $highlight-col;
      stroke: $highlight-col;
    }
  }

  .node-rect {
    stroke: $silver-blue;
    fill: none;
  }

  .node-bg {

    &.male {
      fill: $male-col-25;
    }

    &.female {
      fill: $female-col-25;
    }
  }

  .tropeNode.active {
    .trope-node-bg {
      fill: $highlight-col;
      stroke: none;
    }

    .trope-node-label {
      fill: white;
    }
  }

  // Trope info display

  .blurb {
    trope-details()
  }


}