// Note: @imports have to be at the top of the CSS file to work
@import url('http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,800');

// Global/shared styles

@require '../../lib/pure/base.css'
@require '../../lib/pure/grids.css'

@require 'theme'
@require 'shared'
@require 'search'

// Page specific styles
@require 'tropes'
@require 'trope-tile'
@require 'films'
@require 'film-tile'



@require 'adjectives'