// Note: @imports have to be at the top of the CSS file to work
@import url('http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,800');
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,300,700');

// Global/shared styles

@require '../../lib/pure/base.css'
@require '../../lib/pure/grids.css'
@require '../../lib/pure/grids-responsive.css'

@require 'theme'
@require 'shared'
@require 'search'

// Page specific styles
@require 'tropes'
@require 'trope-tile'
@require 'trope-adjectives'

@require 'films'
@require 'film-tile'
@require 'film-tropes-list'

@require 'adjectives'
@require 'gender-split'
