
#search {
  text-align: right;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 240px;
  height: 19px;
  padding: 5px 12px;

  // font-size: 1.2em;
  // line-height: 1.2em;

  border: 1px solid $light-grey;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border-color: $silver-blue;
  }

@media screen and (max-width:$max-med-width) {
  .typeahead,
  .tt-query,
  .tt-hint {
    float:left;
    margin-top:15px;
  }
}

.tt-query {
  // What does this section style?
  // -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  // -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  // box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  text-align: left;
  width: 264px;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;

  border-bottom: 1px solid $silver-blue;
  border-left: 1px solid $silver-blue;
  border-right: 1px solid $silver-blue;

  font-weight: 400;
}

.tt-dropdown-menu .search-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid $silver-blue-dark;
  text-transform: uppercase;
  font-weight: 200;
  color: $highlight-col;
}

.tt-suggestion {
  padding: 3px 20px 15px;
}

.tt-suggestion.tt-cursor {
  background-color: $silver-blue;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion-detail {
  font-size: 12px;
  line-height: 1.4em;
  font-style: italic;
  font-weight: 200;
}

