html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $body-font;
    color: $dark-grey;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

body {
  padding:20px;
}

a, a:visited{
  padding: 0 2px 0 2px;
  color: $highlight-col;
  text-decoration: underline;
}

a:hover{
  padding: 0 2px 0 2px;
  color: white;
  background-color: $highlight-col;
  text-decoration: none;
}

a:active {
  color: $dark-grey;
}

aside {
  font-size: 0.8em;
  color: $grey;
}

.secondary {
  color: $grey
}

.adjective-name {
  font-family: $adjective-font;
  font-weight: 300;
}

.trope-name {
  font-family: $trope-font;
  font-weight: 300;
}

.film-name {
  font-family: $film-font;
  font-weight: 300;
}

.main {
  padding-bottom: 30px;
}

// Top level nav
#top-bar {
  padding-bottom 20px;
}

nav {
  ul {
    display:inline;
    padding: 0 0 8px 0;
    border-bottom: 3px solid $dark-grey;
  }

  li {
    display:inline;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.6em;
    padding-right: 15px;

    .inactive {
      color: $silver-blue-dark;
    }
  }

  a {
    text-decoration: none;
  }

}

// footer
#footer {
  position: fixed
  bottom: 0px
  left: 0px
  right: 0px
  height: 30px
  background-color: white
  padding-top: 5px
  text-align:center
  border-top: 1px solid #eaeaea
}


//
// Mixins. These are styles expected to be mixed into
// some existing css, not directly applying globally.
//

// Trope tiles
trope-details(){
  .details {
    height: 225px;

    div.description.short {
      height: 188px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow-y:hidden;

       margin: 0 auto;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      text-overflow: -o-ellipsis-lastline; /* Opera just does this, I guess? */
    }

    .more {
      margin-top: 15px;
      float:right;
    }
  }
}

