html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $body-font;
    color: $dark-grey;

    font-size: 14px;
}


h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin-top:0;
  margin-bottom:0;
  font-family: $header-font;
}

h2 {
  font-weight: 300;
}

h3 {
  font-variant: small-caps;
  font-size: 18px;
}

h4 {
  font-variant: small-caps;
  color: $grey;
}

body {
  padding:20px;
}

@media screen and (max-width:567px) {
  .hide-small{display:none;}
}

@media screen and (min-width:568px) {
  .show-small{display:none;}
}

a, a:visited{
  padding: 0 2px 0 2px;
  color: $highlight-col;
  text-decoration: underline;
}

a:hover{
  padding: 0 2px 0 2px;
  color: white;
  background-color: $highlight-col;
  text-decoration: none;
}

a:active {
  color: $dark-grey;
}

aside {
  font-size: 0.8em;
  color: $grey;
}

.secondary {
  color: $grey
}

#heart {
  font-size: 90%;
}

.adjective-name {
  font-family: $adjective-font;
  font-weight: 300;
}

.trope-name {
  font-family: $trope-font;
  font-weight: 300;
}

.film-name {
  font-family: $film-font;
  font-weight: 300;
}

.main {
  padding-bottom: 30px;
}

.faded {
  color: $grey;
  }


// Top level nav

#top-bar{
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 30px;
}

site-title-styles() {
  .site-title {
    font-weight: 700;
    color: $silver-blue-dark;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding: 0 4px 0 4px;
  }
}

nav {
  font-family: $nav-font;

  ul {
    display:inline;
    padding: 0 0 8px 0;
    border-bottom: 2px solid $dark-grey;
  }

  li {
    display:inline;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 15px;

    .inactive {
      color: $silver-blue-dark;
      outline: none;
    }
  }

  a {
    text-decoration: none;
  }

  site-title-styles()

  .site-title {
    font-size: 90%;
  }
}

// footer
#footer {
  max-width: 960px;
  margin: 0 auto;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: white;
  padding-top: 10px;
  text-align:right;
  font-size: 12px;
  color: $grey;
  border-top: 1px solid $light-grey;
}


//
// Mixins. These are styles expected to be mixed into
// some existing css, not directly applying globally.
//


center-page(){
  max-width: 960px;
  margin: 0 auto;
}



// Trope tiles
trope-details(){
  .details {
    font-family: $long-description-font;
    line-height: 1.4em;
    font-size: 90%

    height: 225px;

    .trope-title {
      margin-bottom: 10px;
    }

    div.description.short {
      text-align: left;


      height: 100px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow-y:hidden;

       margin: 0 auto;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      text-overflow: -o-ellipsis-lastline; /* Opera just does this, I guess? */
    }

    .more {
      margin-top: 15px;
      float:right;
    }
  }
}


trope-tile(tileWidth, tileHeight) {
  .trope-tile {
    min-width: unit(tileWidth, 'px');
    height: unit(tileHeight, 'px');
    display: inline-block;
    position: relative;

    .image {

      div {
        background-position: 50% 0%;
        background-size: cover;

        height: unit(tileHeight, 'px');
        position: relative;
        transition: ease 750ms background-position;
        width: 100%;
      }

      div:hover {
        background-position: 50% 100%;
      }
    }

    .name {
      position: absolute;
      top: 70%;
      left: 5%;
      padding: 3px;
      color: white;
    }


    &.gender-m {
      .name {
        background-color: $male-col;
      }
    }

    &.gender-f {
      .name {
        background-color: $female-col;
      }
    }
  }
}

.gender-split-bar {
  padding-top:10px;
  padding-bottom:10px;
  height: 4px;
  width: 100%;
  .gender {
    height: 100%;
  }
  .gender-f {
    background-color:$female-col-75;
    float:left;
  }
  .gender-m {
    background-color:$male-col-75;
    float:right;
  }
}


// Show element at only at width < 568px
small-show(){
  @media (min-width: 35.5em) {
    display: none;
  }
}

// Hide element at width > 568px
small-hide(){
  @media (max-width: 35.5em) {
    display: none;
  }
}


