html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $body-font;
    color: $dark-grey;

    font-size: 14px;
}


h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin-top:0;
  margin-bottom:0;
  font-family: $header-font;
}

h2 {
  font-weight: 300;
}

h3 {
  font-variant: small-caps;
  font-size: 18px;
}

h4 {
  font-variant: small-caps;
  color: $grey;
}

body {
  padding:20px;
}

@media screen and (max-width:$screen-size-sm) {
  .hide-small{
    display: none;
  }
}

@media screen and (min-width:$screen-size-sm) {
  .show-small{
    display: none;
  }
}

a, a:visited{
  padding: 0 2px 0 2px;
  // color: $highlight-col;
  color: $dark-grey
  text-decoration: underline;
}

a:hover{
  padding: 0 2px 0 2px;
  color: $dark-grey;
  background-color: $highlight-col;
  text-decoration: underline;
}

a:active {
  color: $dark-grey;
}

aside {
  font-size: 0.8em;
  color: $grey;
}

.secondary {
  color: $grey
}

#heart {
  font-size: 90%;
}

.adjective-name {
  font-family: $adjective-font;
  font-weight: 300;
}

.trope-name {
  font-family: $trope-font;
  font-weight: 300;
}

.film-name {
  font-family: $film-font;
  font-weight: 300;
}

.main {
  padding-bottom: 30px;
}

.faded {
  color: $grey;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


// Top level nav


#top-bar-container {
  background-color: $light-grey;
  min-height: 70px;
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  clear:both;
}

#top-bar{
  max-width: 960px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.content {
  padding-top: 80px;
}

site-title-styles() {
  .site-title {
    font-weight: 700;
    color: white;
    text-transform:uppercase;
    letter-spacing: 2px;
    padding: 0 4px 0 4px;

    img {
      vertical-align: middle;
      height: 35px;
    }
  }
}

nav {
  font-family: $nav-font;

  ul {
    display:inline;
    padding: 0 0 8px 0;

    li {
      display:inline;
      font-size: 16px;
      font-weight: 300;
      line-height: 18px;
      padding-right: 15px;

      .inactive {
        color: $grey !important;
        outline: none;
      }

      a {
        text-decoration: none;
        color: $dark-grey !important;
        font-style: italic;
      }

      a:hover{
        color: white;
        background-color: $highlight-col;
        text-decoration: underline;
      }
      a.inactive:hover {
        background-color: inherit;
        text-decoration: none;
        cursor: default;
      }
    }
  }

  site-title-styles()

  .site-title {
    font-size: 90%;
    color: $silver-blue-dark;
    font-style: normal;
  }

  a#pull {
    display:none;
  }
}

@media screen and (max-width:$screen-size-md) {
  #top-bar-container {
    position: inherit;
    background-color: white;
    height: auto;
    width: 100%;
    min-width:0;
    min-height:0;
  }

  #top-bar {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .content {
    padding-top: 0px;
  }

  nav {

    border-bottom: 0;
    height: auto;
    background-color: $light-grey;
    padding-right:10px;

    ul {
      width: 100%;
      display: none;
      height: auto;
      border-bottom: none;
      margin-top: 7px;
      margin-bottom: 0px;
      padding-bottom: 0px;

      li {
        width: 100%;
        float: left;
        position: relative;


        a, a:visited, a:active, nav a:hover {
          padding-left: 5px;
          text-align: left;
          width: 100%;
          line-height: 30px;
        }

        &.logo {
          margin-bottom: 10px;
        }

        &.nav-item {
          padding-left: 15px;
        }
      }
    }

    a#pull {
      text-decoration: none;
      padding-left: 5px;
      display: block;
      background-color: #eee;
      width: 100%;
      padding-top: 14px;
      padding-bottom: 3px;
      height: 31px;
      position: relative;
      text-height: 0.8em;

      .site-title {
        font-size: 1em;
      }
    }

    a#pull:after {
      content:"";
      background: url('assets/img/nav-icon-white.png') no-repeat;
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 15px;
    }
  }

  site-title-styles()
}


@media screen and (min-width:$screen-size-md) and (max-width: $screen-size-lg) {
  nav {
    ul {
      li.logo {
        padding-left: 10px;
        padding-right: 10px;
      }
      li.nav-item {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

@media screen and (min-width: $screen-size-lg) {
  nav {
    ul {
      li.logo {
        padding-left: 10px;
        padding-right: 10px;
      }
      li.nav-item {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

// footer
#footer {
  max-width: 960px;
  margin: 0 auto;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  background-color: white;
  padding-top: 10px;
  text-align:right;
  font-size: 12px;
  color: $grey;
  border-top: 1px solid $light-grey;
}

@media screen and (max-width:$screen-size-sm) {
  #footer {
    text-align: center;
  }
}

//
// Mixins. These are styles expected to be mixed into
// some existing css, not directly applying globally.
//

center-page(){
  max-width: 960px;
  margin: 0 auto;
}

// Trope tiles
trope-details(){
  .details {
    font-family: $long-description-font;
    line-height: 1.4em;
    font-size: 90%

    height: 225px;

    .trope-title {
      margin-bottom: 10px;
    }

    div.description.short {
      text-align: left;


      height: 100px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow-y:hidden;

       margin: 0 auto;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      text-overflow: -o-ellipsis-lastline; /* Opera just does this, I guess? */
    }

    .more {
      margin-top: 15px;
      float:right;
    }
  }
}


trope-tile(tileWidth, tileHeight) {
  .trope-tile {
    min-width: unit(tileWidth, 'px');
    height: unit(tileHeight, 'px');
    display: inline-block;
    position: relative;

    .image {

      div {
        background-position: 50% 0%;
        background-size: cover;

        height: unit(tileHeight, 'px');
        position: relative;
        transition: ease 750ms background-position;
        width: 100%;
      }

      div:hover {
        background-position: 50% 100%;
      }
    }

    .name {
      position: absolute;
      // top: 70%;
      // left: 5%;
      bottom: 0;
      width: unit(tileWidth, 'px');
      padding: 8px 0 8px 0;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 0.5px;
    }


    &.gender-m {
      .name {
        background-color: $male-col;
      }
    }

    &.gender-f {
      .name {
        background-color: $female-col;
      }
    }
  }
}

.gender-split-bar {
  padding-top:10px;
  padding-bottom:10px;
  height: 4px;
  width: 100%;
  .gender {
    height: 100%;
  }
  .gender-f {
    background-color:$female-col-75;
    float:left;
  }
  .gender-m {
    background-color:$male-col-75;
    float:right;
  }
}


// Show element at only at width < 568px
small-show(){
  @media (min-width: 35.5em) {
    display: none;
  }
}

// Hide element at width > 568px
small-hide(){
  @media (max-width: 35.5em) {
    display: none;
  }
}


