//
// Typefaces
//

// Ideally these first two font variables are not used
// directly in stylesheets. Instead the font variables
// below should be used where possible.
$fira-sans = 'Fira Sans', sans-serif;
$source-sans = 'Source Sans Pro', sans-serif;
$merriweather = 'Merriweather', serif;

$body-font = $fira-sans;
$header-font = $fira-sans;
$nav-font = $fira-sans;

$adjective-font = $source-sans;
$trope-font = $source-sans;
$film-font = $source-sans;

$long-description-font = $merriweather;

//
// Colors
//

// We should try and keep as many of the colors used defined here
// rather than defined directly in individual stylesheets. Where
// one would use black consider using $dark-grey instead. One
// should feel free to use white and it is defined as a variable
// here

$female-col = #D81B60;
$female-col-75 = #E25588; // Color at 75% opacity of original
$female-col-50 = #EC8DB0; // Color at 50% opacity of original
$female-col-25 = #F6C6D8; // Color at 25% opacity of original


$male-col = #2196F3;
$male-col-75 = #59B1F7; // Color at 75% opacity of original
$male-col-50 = #90CBF9; // Color at 50% opacity of original
$male-col-25 = #C8E5FC; // Color at 25% opacity of original


// Col scheme two lavender - blue

$female-col = #8E24AA;
$female-col-75 = #AA5BBF; // Color at 75% opacity of original
$female-col-50 = #C691D4; // Color at 50% opacity of original
$female-col-25 = #E3C8EA; // Color at 25% opacity of original


$male-col = #2196F3;
$male-col-75 = #59B1F7; // Color at 75% opacity of original
$male-col-50 = #90CBF9; // Color at 50% opacity of original
$male-col-25 = #C8E5FC; // Color at 25% opacity of original


// Col scheme three light green - blue

$female-col = #7CB342;
$female-col-75 = #9DC671; // Color at 75% opacity of original
$female-col-50 = #BDD9A0; // Color at 50% opacity of original
$female-col-25 = #DEECD0; // Color at 25% opacity of original


$male-col = #2196F3;
$male-col-75 = #59B1F7; // Color at 75% opacity of original
$male-col-50 = #90CBF9; // Color at 50% opacity of original
$male-col-25 = #C8E5FC; // Color at 25% opacity of original


// Col scheme three light green - indigo

$female-col = #7CB342;
$female-col-75 = #9DC671; // Color at 75% opacity of original
$female-col-50 = #BDD9A0; // Color at 50% opacity of original
$female-col-25 = #DEECD0; // Color at 25% opacity of original


$male-col = #3949AB;
$male-col-75 = #6B77C0; // Color at 75% opacity of original
$male-col-50 = #9CA4D5; // Color at 50% opacity of original
$male-col-25 = #CDD1EA; // Color at 25% opacity of original



// Col scheme four lavender - green

$female-col = #3949AB;
$female-col-75 = #6B77C0; // Color at 75% opacity of original
$female-col-50 = #9CA4D5; // Color at 50% opacity of original
$female-col-25 = #CDD1EA; // Color at 25% opacity of original


$male-col = #7CB342;
$male-col-75 = #9DC671; // Color at 75% opacity of original
$male-col-50 = #BDD9A0; // Color at 50% opacity of original
$male-col-25 = #DEECD0; // Color at 25% opacity of original


// Col scheme five desaturated salmon - silver blue

$female-col = #CB606E;
$female-col-75 = #D88892; // Color at 75% opacity of original
$female-col-50 = #E5AFB6; // Color at 50% opacity of original
$female-col-25 = #F2D7DB; // Color at 25% opacity of original


$male-col = #2A6270;
$male-col-75 = #5F8994; // Color at 75% opacity of original
$male-col-50 = #94B0B7; // Color at 50% opacity of original
$male-col-25 = #CAD8DB; // Color at 25% opacity of original



$dark-grey = #212121; // Primary text color
$grey = #9E9E9E;
$light-grey = #EEEEEE;

$silver-blue = #B0BEC5;
$silver-blue-dark = #263238;

$highlight-col = #F57F17;
