.tropes-page {

  center-page()

  .tropes-container {

    $tile-size = 200;
    $tile-margin = 30;

    float: left;
    trope-tile($tile-size, $tile-size);

    .trope-tile:hover {
      cursor: pointer;
    }

    .trope-tile, .text-tile {
      float: left;
      margin-right: unit($tile-margin, 'px');
      margin-bottom: unit($tile-margin - 5, 'px');
    }

    .text-tile.tropes {
      float: left;
      display: inline-block;
      position: relative;
      overflow: hidden;
      width:  unit($tile-size * 2 + $tile-margin, 'px');
      height: unit($tile-size * 2, 'px');

      site-title-styles()

      h1.site-title {
        font-size: 2em;
      }

      span.gender-m {
        padding-left: 7px;
        padding-right: 7px;
        background-color: $male-col;
        color: white;
      }

      span.gender-f {
        padding-left: 7px;
        padding-right: 7px;
        background-color: $female-col;
        color: white;
      }
    }

    .text-tile.filter {
      float: left;
      text-align: center;
      width:  unit($tile-size, 'px');
      height: unit($tile-size, 'px');
      a {
        cursor: pointer;
      }
    }

  }
}