.trope-adjectives-timeline {

  g.axis {
    line {
      stroke-width: 1px
      stroke: $light-grey;
    }

    circle {
      fill: $dark-grey;
    }
  }

  g.adjectives {
    font-family: $adjective-font;
    .hidden {
      display: none;
    }

    .triangle {
      stroke: none;
      fill: $grey;
      opacity: 0.25;
    }
  }
}

.trope-adjectives-timeline.gender-m {
  g.axis {
    circle {
      fill: $silver-blue-dark;
    }
  }

  g.adjectives {
    .triangle:hover {
      fill: $silver-blue-dark;
    }
  }
}

.trope-adjectives-timeline.gender-f {
  g.axis {
    circle {
      fill: $silver-blue-dark;
    }
  }

  g.adjectives {
    .triangle:hover {
      fill: $silver-blue-dark
    }
  }
}