.trope-tile {
  min-width: 160px
  height: 160px
  display: inline-block;
  position: relative;

  .image {

    div {
      background-position: 50% 0%;
      background-size: cover;

      height: 160px;
      position: relative;
      transition: ease 750ms background-position;
      width: 100%;
    }

    div:hover {
      background-position: 50% 100%;
    }
  }

  .name {
    position: absolute
    top: 70%
    left: 5%
    padding: 3px
    color: white
    pointer-events: none;
  }
}

.trope-tile.gender-m {
  .name {
    background-color: $male-col
  }
}

.trope-tile.gender-f {
  .name {
    background-color: $female-col
  }
}
