.trope-page {

  center-page()
  film-tile-all()
  film-tile()
  $tile-size = 200;
  $tile-margin = 20;
  trope-tile($tile-size, $tile-size);

  .trope-tile-container {
    width: 160px;
    float: left;

    .name {
      display:none;
    }
  }

  .trope-detail-container {
    margin-left: $tile-size + $tile-margin px
    padding-right: $tile-margin px;

    trope-details();

    .details {
      height: 190px;

      div.description.short {
        -webkit-line-clamp: 6;
      }
    }
  }

  .gender-split-bar {
    height: 2px;
    margin-bottom: 15px;
  }

  .trope-timeline-container {
    h4 {
      padding-bottom: 10px;
      text-align: right;
    }

    .vis {

      .axis {
        shape-rendering: crispEdges;
      }

      .x.axis line {
        stroke: none;
      }

      .x.axis path {
        fill: none;
      }

      .x.axis .tick line {
        stroke: #fff
      }

      .marker line {
        stroke-width: 2.5
      }

      .max_line text {
        text-anchor: end;
        font-size: 9pt;
      }

    }

    aside {
      padding-top: 10px
    }
  }

  .trope-timeline-container.gender-f .vis {
    path.area {
      fill: $female-col-25;
    }
    .marker line {
      stroke: $female-col;
    }
    .max_line text {
      fill: $female-col;
    }
  }

  .trope-timeline-container.gender-m .vis {
    path.area {
      fill: $male-col-25;
    }
    .marker line {
      stroke: $male-col;
    }
    .max_line text {
      fill: $male-col;
    }
  }

}
