<div>
  <h4>appearance over time</h4>
  <div class="vis"></div>
  <aside>
    <%
    var max = 0, id = 0;
    for(var i = 0; i < occurrence_over_time.length; i++) {
      if (occurrence_over_time[i][2] > max) {
        max = occurrence_over_time[i][2];
        id = i;
      }
    } %>

    <em><%= name %></em> appears in <%= occurrence_over_time[id][1] %> <%= occurrence_over_time[id][0].toLowerCase() %>
    (<%= d3.format(".1%")(occurrence_over_time[id][1]/ occurrence_over_time[id][3]) %> of films in this decade).
  </aside>
</div>