<% if (loading) { %>
  <h3>Loading...</h3>
<% } else { %>
  <div class="pure-u-1-1 preface">
    <h3>adjectives describing this trope</h3>
    <div class="pure-u-16-24">
      <p>
       The description above is a short snippet of what was written about this trope on tvtropes.org. We wanted to examine more closely the adjectives used in the full description. Adjectives closer to the left are more unique to this trope, and ones further to the right are less unique. Those adjectives that have colorful triangles beneath them appear only in this trope, and nowhere else.
      </p>
    </div>
  </div>
    <div class="instruction left">
      &#8592; More strongly associated with this trope
    </div>
    <div class="instruction right">
      Less strongly associated with this trope &#8594;
    </div>
    <div class="vis pure-u-1-1">
    </div>
<% } %>

