<% if (loading) { %>
  <h3>Loading...</h3>
<% } else { %>
  <div class="pure-u-1-1 preface">
    <h3>adjectives describing this trope</h3>
    <div class="pure-u-16-24">
      <p>
      The description above is a short snippet of what was written about this trope on <a href="http://tvtropes.org" target="_blank">tvtropes.org</a>. We wanted to examine more closely the adjectives used in the full description. Adjectives closer to the left are more associated only with this trope, and ones further to the right are more generic. Those adjectives that have <span class="gender-m">blue</span> or <span class="gender-f">pink</span> triangles beneath them appear only in this trope, and nowhere else. Read about how we found these associations <a href="#about">here</a>.
      </p>
    </div>
  </div>
    <div class="instruction left">
      &#8592; More strongly associated with this trope
    </div>
    <div class="instruction right">
      Less strongly associated with this trope &#8594;
    </div>
    <div class="vis pure-u-1-1">
    </div>
<% } %>

